/* styles.css */
#fileInput{
    display: none;
}
/* Add styles here to customize the appearance of your app */

svg{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.flex{
    display: inline-flex;
    align-items: center;
}
/* Remove default bullets */
ul, #tree, #folder-name {
    list-style-type: none;
    font-size: 12px;
  }
  
  /* Remove margins and padding from the parent ul */
  #tree {
    margin: 0;
    padding: 0;
  }
  #tree li{
    margin-bottom: 10px;
  }
  /* Style the caret/arrow */
  .caret {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  /* .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 10px;
  } */
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }